{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="span14">
                <h2><a href="{{ path('blog_show', { 'id': post.id }) }}">{{ post.title }}</a></h2>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="span14">
                <h2>Le Blog is empty.</h2>
            </div>
        </div>
    {% endfor %}

    <hr />

    <div class="row">
        <div class="span14">
            <ul class="unstyled pull-right">
                <li>
                    <a href="{{ path('blog_new') }}" class="btn">Create a new entry</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
