{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Acme Blog <small>Supporting the derps of tomorrow</small></h1>
    </div>

    {% for entity in entities %}
        <div class="row">
            <div class="span5">&nbsp;</div>
            <div class="span6">
                <h2><a href="{{ path('blog_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h2>
            </div>
            <div class="span5">&nbsp;</div>
        </div>
    {% endfor %}

    <div class="row">
    <hr />
        <div class="span5">&nbsp;</div>
        <div class="span6">
            <ul class="unstyled pull-right">
                <li>
                    <a href="{{ path('blog_new') }}" class="btn">Create a new entry</a>
                </li>
            </ul>
        </div>
        <div class="span5">&nbsp;</div>
    </div>
{% endblock %}
