<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Acme Blog{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="{{ asset('bundles/acmeblog/css/bootstrap.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <div class="content">
                <div class="page-header row">
                    <div class="offset4">
                        <h1>Acme Blog <small>Supporting the derps of tomorrow</small></h1>
                    </div>
                </div>

                {% block content %}{% endblock %}
            </div>

            <footer class="pull-right">
                <p>&copy; Acme Corporation 2012</p>
            </footer>

        </div> <!-- /container -->

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
